body{
    background: #35A9DB;
    text-align: center;
    font-family: Roboto;
}

h1{
    color: #fff;
}

.ketengah{
    margin: 10px auto;
    width: 1150px;
}

.kotak{
    background: blue;
    width: 500px;
    float: left;
    height: 250px;
    margin: 30px;
}

.gradient1{
    background: linear-gradient(red,green,blue); /* standard syntax */
    background: -webkit-linear-gradient(red,green,blue); /* Untuk Safari vers 5.1 - 6.0 */
    background: -o-linear-gradient(red,green,blue); /* Untuk Opera versi 11.1 - 12.0 */
    background: -moz-linear-gradient(red,green,blue); /* Untuk Mozilla versi 3.6 - 15.0 */
}

.gradient2{
    background: linear-gradient(to right,red,yellow,green); /* standard syntax */
    background: -webkit-linear-gradient(left,red,yellow,green); /* Untuk Safari vers 5.1 - 6.0 */
    background: -o-linear-gradient(right,red,yellow,green); /* Untuk Opera versi 11.1 - 12.0 */
    background: -moz-linear-gradient(right,red,yellow,green); /* Untuk Mozilla versi 3.6 - 15.0 */
}

.gradient3{
    background: radial-gradient(red,yellow,green); /* standard syntax */
    background: -webkit-radial-gradient(red,yellow,green); /* Untuk Safari vers 5.1 - 6.0 */
    background: -o-radial-gradient(red,yellow,green); /* Untuk Opera versi 11.1 - 12.0 */
    background: -moz-radial-gradient(red,yellow,green); /* Untuk Mozilla versi 3.6 - 15.0 */
}

.gradient4{
    background: radial-gradient(circle,red,yellow,green); /* standard syntax */
    background: -webkit-radial-gradient(circle,red,yellow,green); /* Untuk Safari vers 5.1 - 6.0 */
    background: -o-radial-gradient(circle,red,yellow,green); /* Untuk Opera versi 11.1 - 12.0 */
    background: -moz-radial-gradient(circle,red,yellow,green); /* Untuk Mozilla versi 3.6 - 15.0 */
}